.y-search {
  background: #fff;
  padding: 0 20px;
}
.y-search .el-form {
  display: flex;
  flex-wrap: wrap;
}
div#el-collapse-head-5508 {
  padding: 20px;
}
div#el-collapse-head-2560 {
  font-size: 20px;
}
.el-collapse {
  margin-top: 20px;
}
